* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.check {
  border: 1px solid red;
}

.main-container{
    display: flex;
}

.card-wrapper {
  width: 300px;
  height: 400px;
  border-radius: 5px;
  padding: 1%;
  margin: 20px 40px;
  border: 1px solid grey;
}

.main-heading{
    margin-bottom: 15px;
}

.img-container {
    width: 135px;
    /* height: 140px; */
    text-align: center;
    margin-bottom: 15px;
    p{
        font-size: 12px;
    }
  img {
    width: 110px;
    height: 130px;
  }
}

.image-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
